# Comments and Basic Data Types

In [1]:
# this is a comment

In [4]:
print("Hello") # this is also a comment (inline)

Hello

In [5]:
"""
    This is a multi-Line comment using three opening / closing double quotes
"""
print("Hello") # this is also a comment (inline)

Hello

In [6]:
# the following are all integers

In [7]:
print(2)
print(10)

2
10

In [8]:
# the following are all floats
print(10.953)
print(8.0)      # even this number is a float

10.953
8.0

In [9]:
# the following are booleans

In [10]:
print(True)
print(False)

True
False

In [12]:
# the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [19]:
print('Type checking')
type(2)

Type checking

int

# Variables

In [20]:
num1 = 5             # storing an integer into a variable
num2 = 8.4           # storing a float into a variable
print(num1, num2)    # you can print multiple items using commas

5 8.4

In [22]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [23]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number)  # will print 8 next to the name

John Smith 9

In [24]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [25]:
# adding, deleting, multiplying, dividing from a variable
result += 1 # same as saying result = result + 1
print(result)

result *= num1 # same as saying result = result * num1
print(result)

14.4
72.0

In [26]:
# defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

##### Exercises
1. Variable Output: Store the value 3 in a variable called “x” and the value 10 in a variable called “y”. Save the result of x * y into a separate variable called “result”.
2. Area Calculation: Calculate the area of a 245.54” x 13.66” rectangle. Print out the result. HINT: Area is width multiplied by height.

In [27]:
# Variable output
x = 3
y = 10
result = x * y
print(x, '*', y, '=', result)

3 * 10 = 30

In [30]:
# Area Calculation
width = 245.54
height = 13.66
area = width * height

print('The area of a rectangle with the width of', width, 'and a heigh of', height, 'is', area)

The area of a rectangle with the width of 245.54 and a heigh of 13.66 is 3354.0764

# Working with Strings

In [31]:
# using the addition operator without variables
name = 'John' + ' ' + 'Smith'
print(name)

John Smith

In [33]:
# using the addition operation with variables
first_name = 'John'
last_name = 'Smith'
full_name = first_name + ' ' + last_name
print(full_name)

John Smith

In [34]:
# injecting variables using the format method
name = 'John'
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [36]:
# using the new f strings >= Python 3.6
name = 'Johh'
print(f"Hello {name}")

Hello Johh

In [37]:
# one major difference between version 2 & 3
name = 'John'
print('Hello, %s' % name)

Hello, John

In [38]:
# python 2 multiple variable formatting
first_name = 'John'
last_name = 'Smith'
print("Hello, %s %s" % (first_name, last_name)) # surround the variables in parenthesis

Hello, John Smith

In [39]:
# using indexes to print each element
word = "Hello"
print(word[0]) # will output 'H'
print(word[1]) # will output 'e'
print(word[-1]) # will output 'o'

H
e
o

In [40]:
# String slicing
print( word [0:2])  # will output 'He'

He

In [41]:
# Syntax for slicing
# variable_name[ start : stop : step ]
print( word[ 0 : 5 : 2 ] ) # will output 'Hlo'

Hlo

##### Exercises
1. Variable Injection: Create a print statement that injects an integer, float, boolean, and string all into one line. The output should look like “23 4.5 False John”.

 
2.	Fill in the Blanks: Using the format method, fill in the following blanks by assigning your name and favorite activities into variables:

"{ }'s favorite sports is { }."

"{ } is working on { } programming!"

In [76]:
# Variable Injection
print('{} {} {} {}'.format(23, 4.5, False, 'Riley'))

23 4.5 False Riley

In [77]:
# Fill in the Blanks
print("{}'s favorite sport is {}".format('Sam', 'pong'))
print("{} is working on {} programming".format('Bob', 'python'))

Sam's favorite sport is pong
Bob is working on python programming

# Manipulating Strings

In [47]:
# using the title method to capitalize a string
name = 'john smith'
print(name.title())

John Smith

In [49]:
# upper and lower
x = 'pizza'
print(x.upper())
y = 'BOAT'
print(y.lower())

PIZZA
boat

In [50]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

In [51]:
# find the starting index of our searched term
s = 'Look over that way'
print(s.find('over'))

5

In [52]:
# removing white space with strip
name = '    john     '
print(name.strip())

john

In [53]:
# left strip
print(name.lstrip())

john

In [55]:
# right strip
print(name.rstrip())

    john

In [56]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

##### Exercises
1.	Uppercasing: Try manipulating the string “uppercase” so it prints out as all uppercase letters. You’ll need to look up a new method.

 
2.	Strip Symbols: Strip all the dollar signs from the left side of this string “$$John Smith”. Try it with .lstrip( ) and .strip( ). To see a description on how to use the strip method further, try using the help function in Python by typing the following:

>>> help(" ".strip)

In [57]:
# Uppercasing
w = "uppercase"
print(w)
print(w.upper())

uppercase
UPPERCASE

In [61]:
# Strip Symbols
money_strip = '$$John Smith'
print(money_strip)
print(money_strip.strip('$$'))
print(money_strip.lstrip('$$'))

$$John Smith
John Smith
John Smith

# Project: Printing Receipts

In [75]:
# create a product and price for three items
p1_name, p1_price = 'Pen', 99.78
p2_name, p2_price = 'Notebook', 578.99
p3_name, p3_price = 'Ruler', 212.15

# create a company name and information
company_name = 'coding sauna, inc.'
company_address = '123 Main St.'
company_city = 'Dallas, TX'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print('\t\t{}'.format(company_name.title()))
print('\t\t{}'.format(company_address))
print('\t\t{}'.format(company_city))

# print a divider between sections
print('=' * 50)

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print('\t{}\t\t${}'.format(p1_name.title(), p1_price))
print('\t{}\t${}'.format(p2_name.title(), p2_price))
print('\t{}\t\t${}'.format(p3_name.title(), p3_price))

# print a divider between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print('\t\t\t${}'.format(total))

# print a divider between sections
print('=' * 50)

# output thank you message
print('\n\t{}\n'.format(message))

# create a bottom border
print('*' * 50)

**************************************************
		Coding Sauna, Inc.
		123 Main St.
		Dallas, TX
==================================================
	Product Name	Product Price
	Pen		$99.78
	Notebook	$578.99
	Ruler		$212.15
==================================================
			Total
			$890.92
==================================================

	Thanks for shopping with us today!

**************************************************